body {
  font-family: Arial;
  font-size: 16px;
  line-height: 1.4em;
}

input, select {
  padding: 2px 5px;
  margin-bottom: 7px;
}

input.error {
    border: 1px solid red;
}

select.error {
  border: 1px solid red;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

table td, table th {
  text-align: center;
  border: 1px solid #ccc;
}

div.success {
  display: block;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 5px 10px;
}

div.error {
  display: block;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 5px 10px;
}

.btn {
  border: 1px solid #ccc;
  background: #f1f1f1;
  padding: 5px 10px;
}
label {
  display: inline-block;
  width: 114px;
}
